header{
    color: white;
    /* background: linear-gradient(0deg, #61cf3d, #16C0B0); */
    background: rgb(41, 41, 214);
    font:  14pt monaco, monospace;
    height: 100%;
 
}

.logo{
    height: 100%;
    text-align: center;
}
body{
    background:rgb(187, 245, 255);
    font: normal 20pt Arial;

}

section#menu{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
    font-size: 16pt;

}
section#game{

    background: rgb(190, 190, 190);
    border-radius: 10px;
    width: 1500px;
    height: 700px;
    margin: auto;
    
}
div{
    text-align: center;
    padding: 8px;
}

input#jogarButton{
    height: 40px;
    width: 100px;
    font-size: 16pt;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 16pt;
    top: 800px;
}